---
import { Button, Modal } from "mee-components";
import Header from "@components/Header.astro";
---

<>
  <Header />
  <div class="flex flex-col gap-10 p-20">
    <div class="flex flex-wrap gap-10">
      <div class="flex flex-row gap-4">
        <div class="flex flex-col gap-10 p-20">
          <div class="flex flex-wrap gap-10">
            <div class="flex flex-row gap-4">
              <Button
                type="button"
                id="visibleModal"
                buttonType="primary"
                style="outlined"
              >
                Show modal
              </Button>
              <Modal
                id="modal"
                title="Welcome to Mee!"
                withCloseIcon={true}
                width="auto"
                enableOutsideClick={true}
                contentClassName=""
                footerClassName="flex-col flex-wrap gap-4 md:flex-row"
              >
                <div
                  class="flex flex-col items-start gap-2.5"
                  slot="content"
                >
                  <div class="text-lg font-normal leading-7">
                    To continue with Mee you have to agree with the following
                    legal agreement
                  </div>
                  <div
                    class="isolate flex h-120 w-full flex-col items-start gap-10 overflow-y-scroll rounded-xl border border-solid border-brand-500 p-6 text-xl shadow-button"
                  >
                    <div>
                      <div class="text-4xl font-semibold">Mee Data License</div>
                      <div class="text-3xl font-semibold leading-10">
                        Legal Agreement for Businesses
                      </div>
                    </div>
                    <div>
                      <div class="font-semibold">In short</div>
                      <div>
                        The Mee data license defines what businesses can and
                        can’t do with user data.
                      </div>
                    </div>
                    <div>
                      <div class="font-semibold">Questions or concerns?</div>
                      <div>
                        Reading this privacy notice will help you understand
                        your privacy rights and choices. If you do not agree
                        with our policies and practices, please do not use our
                        Services. If you still have any questions or concerns,
                        please contact us at contact@meeproject.org.
                      </div>
                    </div>
                    <div class="font-semibold">Key points</div>
                    <div>
                      <div class="font-semibold">
                        Do we process any sensitive personal information?
                      </div>
                      <div>
                        NO. We do not process any sensitive personal
                        information.
                      </div>
                    </div>
                    <div>
                      <div class="font-semibold">
                        Do we receive any information from third parties?
                      </div>
                      <div>
                        NO. We don’t receive any information from third parties.
                      </div>
                    </div>
                    <div>
                      <div class="font-semibold">
                        How do we process your information?
                      </div>
                      <div>
                        We do not process any of your personal information.
                      </div>
                    </div>
                    <div>
                      <div class="font-semibold">
                        In what situations and with which parties do we share
                        personal information?
                      </div>
                      <div>
                        We do not process any of your personal information.
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col">
                    <div class="flex items-center gap-2">
                      <input type="checkbox" class="rounded-xl" id="agree" />
                      <label for="agree" class="text-base leading-6"
                        >I agree to the Mee Data License</label
                      >
                    </div>
                    <div class="ml-5 text-sm leading-5 text-gray-500">
                      By agreeing you bind to it and agree to change your apps
                      to support Mee.
                    </div>
                  </div>
                </div>
                <Fragment slot="footer">
                  <div class="flex-1 flex-shrink">
                    <Button
                      id="decline"
                      type="button"
                      buttonType="primary"
                      style="outlined"
                      className="w-full">Decline agreement</Button
                    >
                  </div>
                  <div class="flex-1 flex-shrink">
                    <Button
                      id="confirm"
                      type="button"
                      buttonType="primary"
                      style="outlined"
                      className="w-full">Confirm agreement</Button
                    >
                  </div>
                </Fragment>
              </Modal>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</>
<script>
  import { HashRouter } from "mee-components";

  const initTest = () => {
    const button = document.querySelector("#visibleModal");

    document &&
      button &&
      button.addEventListener("click", () => {
        (document?.getElementById("modal") as HTMLDialogElement)?.showModal();
      });
  };

  HashRouter.initPageListeners("test", initTest, "test");
</script>
