---
import Layout from "@layouts/Layout.astro";
import IndexPage from "@components/pages/IndexPage.astro";
import AppsList from "@components/pages/AppsList.astro";
import AppsItem from "@components/pages/AppsItem.astro";
import SignIn from "@components/pages/SignIn.astro";
import SignUp from "@components/pages/SignUp.astro";
import RestorePassword from "@components/pages/RestorePassword.astro";
import ForgotPassword from "@components/pages/ForgotPassword.astro";
import CreateApp from "@components/pages/CreateApp.astro";
import DeclinedLicense from "@components/pages/DeclinedLicense.astro";
import NotFound from "@components/pages/NotFound.astro";
import { Route } from "mee-components";
import PageHeader from "@components/PageHeader.astro";
import LicensePage from "@components/pages/LicensePage.astro";
import SignUpSoon from "@components/pages/SignUpSoon.astro";
---

<Layout title="Welcome to Mee">
  <PageHeader />
  <div id="route-content"></div>
  <Route id="index" route="" withoutDarkTheme isUserPage><IndexPage /></Route>
  <Route id="apps" route="apps" withoutDarkTheme isUserPage><AppsList /></Route>
  <Route id="license" route="license" withoutDarkTheme><LicensePage /></Route>
  <Route
    id="apps-item"
    route="^apps\/(\\d*)\\/?$"
    regexRoute
    isUserPage
    params={["apps-id"]}
    withoutDarkTheme><AppsItem /></Route
  >
  <Route id="sign-up" route="sign-up" withoutDarkTheme><SignUp /></Route>
  <Route id="sign-up-soon" route="sign-up-soon" withoutDarkTheme
    ><SignUpSoon /></Route
  >
  <Route id="sign-in" route="sign-in" withoutDarkTheme><SignIn /></Route>
  <Route
    id="declined-license"
    route="declined-license"
    withoutDarkTheme
    isUserPage><DeclinedLicense /></Route
  >
  <Route id="restore-password" route="restore-password" withoutDarkTheme
    ><RestorePassword /></Route
  >
  <Route id="forgot-password" route="forgot-password" withoutDarkTheme
    ><ForgotPassword /></Route
  >
  <Route id="create-app" route="create-app" withoutDarkTheme isUserPage
    ><CreateApp /></Route
  >
  <Route id="not-found" route="404" withoutDarkTheme><NotFound /></Route>
</Layout>
<script>
  import { getUser } from "@api/api";
  import { HashRouter } from "mee-components";
  import { setUserData } from "@store/UserStore";
  import initHeader from "@scripts/Header";
  initHeader();
  HashRouter.initRouter();
  const randomUser = await getUser();
  setUserData(randomUser);
</script>
