---
import { Header, Avatar } from "mee-components";
import ProfileModal from "./ProfileModal.astro";

export interface Props {
  activePage?: string;
  logoColor?: "blue" | "white";
}
---

<Header
  header={{ rightLinks: [], footerLinks: [], logoLink: "/" }}
  type="docs"
  disableMobileMenu
  disableThemeSelector
  className="max-w-full px-6"
  baseClassName="hidden"
>
  <div class="profile" slot="additional">
    <div
      class="flex h-11 flex-row items-center rounded-xl border border-solid border-gray-300 bg-gray-50 p-0"
    >
      <div
        class="flex h-full flex-row items-center justify-center gap-4 border-r border-solid border-gray-300 px-4 py-2.5"
      >
        <Avatar size="sm" className="profile-image-preview" isActive={true} />
        <p>Profile</p>
      </div>
      <div
        class="open-profile-modal flex h-full cursor-pointer flex-row items-center justify-center px-4 py-2.5 transition-all data-[active]:rotate-180"
      >
        <i class="bi bi-chevron-down text-2xl"></i>
      </div>
    </div>
  </div>
</Header>
<ProfileModal />
